.onDragEntered{
    -fx-background-color: #8bcc8b;
}

.rotorIDDragBox, #rotorIDChosenLabel{
    -fx-background-color: none;
    -fx-border-color: #7e5d49;
    -fx-border-width: 1;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-font-weight: bold;
    -fx-font-fill: black;
}

.draggable-rotor-label{
    -fx-background-color: #8f6950;
    -fx-border-color: #483224;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1em;
}

.rotor-message{
    -fx-padding: 5px;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-font-fill: black;
}

