.error-message{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.tab-pane{
    -fx-background-image: url("../resources/WWIIThemeResources/wooden-background.jpg") ;
    -fx-background-size: 1100px 800px;
}

.label{
    -fx-font-size: 13px;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: white;
}

.main-title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.title-label{
    -fx-font-size: 13px;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.simpleButton {
    -fx-background-color:
            #000000,
            linear-gradient(#eabb7e, #ac7e60),
            linear-gradient(#956a4e, #704f3a),
            linear-gradient(#75533d, #553c2c);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Lucida Sans Typewriter";

}

.simpleButton:hover{
    -fx-background-color:
            #000000,
            linear-gradient(#eabb7e, #ac7e60),
            linear-gradient(#c2a18b, #9d765d),
            linear-gradient(#a67f65, #7e5d48);
    -fx-effect: innershadow( three-pass-box , #1a0e06, 6, 0.0 , 0 , 2 );
}

.keyboard-button{
    -fx-background-radius: 5em;
}