.error-message{
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.tab-pane{
    -fx-background-image: url("../resources/WWIIThemeResources/wooden-background.jpg") ;
    -fx-background-size: 1100px 800px;
}

.label{
    -fx-font-size: 14px;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: white;
}

.main-title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.title-label{
    -fx-font-size: 14px;
    -fx-font-family: "Lucida Sans Typewriter";
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.simpleButton {
    -fx-background-color: linear-gradient(#94694e, #553c2c);
    -fx-border-color: #342010;
    -fx-background-insets: 0,1,2,3;
    -fx-border-radius: 3,3,3,3;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Lucida Sans Typewriter";

}

.simpleButton:hover{
    -fx-background-color:
            #000000,
            linear-gradient(#eabb7e, #ac7e60),
            linear-gradient(#c2a18b, #9d765d),
            linear-gradient(#a67f65, #7e5d48);
    -fx-effect: innershadow( three-pass-box , #1a0e06, 6, 0.0 , 0 , 2 );
}
.text-field{
    -fx-background-color: linear-gradient(#d2b6aa, #d3a793);
    -fx-border-color: #000000;
    -fx-effect: innershadow( three-pass-box , #1a0e06, 6, 0.0 , 0 , 2 );
}

.keyboard-button{
    -fx-background-radius: 5em;
}

#mainBorderPane{
    -fx-background-color: #a26c4b;
    -fx-border-color: #a26c4b;
}

#mainTabPane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color: -fx-outer-border, -fx-text-box-border, #d2b6aa;
}

.tab{
    -fx-background-color: linear-gradient(#94694e, #553c2c);
    -fx-border-color: #342010;
    -fx-border-radius: 3,3,3,3;
    -fx-background-radius: 3,3,3,3;
    -fx-text-fill: #ffffff;
}
.table-view.column-header-background {
    -fx-background-color: red;
}




.combo-box .list-cell
{
    -fx-background: #7a2bd9;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #342010;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #eabb7e;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #94694e;
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-background-color: #e3b790, #c79f88, #c79f88, #a26c4b;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}