.grid-pane{
    -fx-background-color: #5b402f,
        #000000,
        linear-gradient(#704f3a, #553c2c);

    -fx-border-color: #5b402f;
    -fx-fill: #5b402f;
    /*-fx-background-color: transparent;*/
}
/*.grid-pane > .viewport {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.flow-pane > .viewport{*/
/*    -fx-background-color: transparent;*/
/*}*/
.scroll-pane{
    -fx-background-color: #5b402f;
    /*-fx-background-color: transparent;*/
}
